Repository AlignmentResearch/tuned-lens: changes, and which Codecov flags are due for each by the changed paths.
All: tests, tuned_lens

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default: false
      tests:
        target: 90%
        threshold: 1%
      tuned_lens:
        target: auto
        threshold: 1%
    patch:
      tuned_lens:
        target: 60%
        threshold: 1%

flags:
  tests:
    paths:
      - tests/
    statuses:
  tuned_lens:
    paths:
      - tuned_lens/

Add missing period
  tuned_lens/__main__.py
Due: tuned_lens

Add periods
  tuned_lens/__main__.py
  tuned_lens/scripts/downstream.py
  tuned_lens/scripts/eval_loop.py
  tuned_lens/scripts/train_loop.py
Due: tuned_lens

lenses no longer save the unembeding weights
  tests/test_lenses.py
  tuned_lens/nn/_model_specific.py
  tuned_lens/nn/lenses.py
  tuned_lens/nn/unembed.py
Due: tests, tuned_lens

fixed unembed tests
  tests/test_unembed.py
Due: tests

switched to new lens interface everywhere in the code
  docs/source/index.rst
  docs/source/tutorials/loading_pretrained_lenses.rst
  notebooks/interactive.ipynb
  tests/test_lenses.py
  tests/test_plotting.py
  tests/test_unembed.py
  tuned_lens/__main__.py
  tuned_lens/causal/subspaces.py
  tuned_lens/nn/__init__.py
  tuned_lens/nn/lenses.py
  tuned_lens/nn/unembed.py
  tuned_lens/scripts/cbe.py
  tuned_lens/scripts/eval_loop.py
  tuned_lens/scripts/lens.py
Due: tests, tuned_lens

added revision argument to init_from_model
  tests/test_lenses.py
  tuned_lens/nn/__init__.py
  tuned_lens/nn/lenses.py
Due: tests, tuned_lens

added revision option to load; defaults to v0.0.4
  tuned_lens/nn/lenses.py
Due: tuned_lens

fixed failing doctest because of lens rename
  docs/source/tutorials/loading_pretrained_lenses.rst
Due: none

added revision option to load; defaults to v0.0.4 (#67)
  tuned_lens/nn/lenses.py
Due: tuned_lens

bump version to 0.0.4
  notebooks/interactive.ipynb
  pyproject.toml
Due: none

started using tuned_lesn.stats for distance computations
  tuned_lens/plotting/prediction_trajectory.py
Due: tuned_lens

Revert "started using tuned_lesn.stats for distance computations"
  tuned_lens/plotting/prediction_trajectory.py
Due: tuned_lens

fixed js divergence
  tuned_lens/plotting/prediction_trajectory.py
Due: tuned_lens

now using explicite get_final_layer_norm implementation
  tests/test_decoder.py
  tuned_lens/model_surgery.py
Due: tests, tuned_lens

Use simple-parsing
  requirements.txt
  tuned_lens/__main__.py
  tuned_lens/scripts/downstream.py
  tuned_lens/scripts/eval_loop.py
  tuned_lens/scripts/train_loop.py
Due: tuned_lens

Move dep to pyproj file
  pyproject.toml
  requirements.txt
Due: none

Fix positional args and other issues
  tuned_lens/__main__.py
  tuned_lens/scripts/downstream.py
  tuned_lens/scripts/eval_loop.py
  tuned_lens/scripts/train_loop.py
Due: tuned_lens

tried to fix test;it still seems to be failing but this is better
  tests/test_lenses.py
Due: tests

get_transformer_layers reimplemented
  tuned_lens/model_surgery.py
Due: tuned_lens

added tests for model surgery
  tests/test_model_surgery.py
  tuned_lens/model_surgery.py
Due: tests, tuned_lens

remove assumptions based on layer-norm and softmax invariants
  tuned_lens/nn/decoder.py
Due: tuned_lens

bumped version to v0.0.5
  notebooks/interactive.ipynb
  pyproject.toml
  tuned_lens/nn/lenses.py
Due: tuned_lens

Use dataclasses and new simple API
  tuned_lens/__main__.py
  tuned_lens/scripts/downstream.py
  tuned_lens/scripts/eval_loop.py
  tuned_lens/scripts/lens.py
  tuned_lens/scripts/train_loop.py
Due: tuned_lens

fixed and simplified .codecov.yaml
  .codecov.yml
Due: none

created ingredients module to hold shared behavour between scripts
  tuned_lens/__main__.py
  tuned_lens/scripts/__init__.py
  tuned_lens/scripts/argparsers.py
  tuned_lens/scripts/cbe.py
  tuned_lens/scripts/downstream.py
  tuned_lens/scripts/eval_loop.py
  tuned_lens/scripts/ingredients.py
  tuned_lens/scripts/lens.py
  tuned_lens/scripts/train_loop.py
Due: tuned_lens

Apply suggestions from code review
  tuned_lens/plotting/prediction_trajectory.py
  tuned_lens/plotting/trajectory_plotting.py
Due: tuned_lens

renamined sharding ingredient to distribute ingredient and moved more functionality into it
  tuned_lens/data.py
  tuned_lens/scripts/eval_loop.py
  tuned_lens/scripts/ingredients.py
  tuned_lens/scripts/train_loop.py
Due: tuned_lens

Removing assumptions from the `Decoder` (#71)
  tuned_lens/nn/decoder.py
Due: tuned_lens

applied more of the reviewers sugestions
  tests/plotting/test_prediction_trajectory.py
  tuned_lens/plotting/trajectory_plotting.py
Due: tests, tuned_lens

addressed reviewers comments
  tests/test_decoder.py
  tests/test_model_surgery.py
  tuned_lens/model_surgery.py
  tuned_lens/nn/decoder.py
  tuned_lens/nn/lenses.py
Due: tests, tuned_lens

A complete refactor of the plotting code (#63)
  .github/workflows/pre-merge.yml
  docs/source/conf.py
  docs/source/index.rst
  docs/source/tutorials/prediction_trajectories.ipynb
  notebooks/interactive.ipynb
  pyproject.toml
  tests/plotting/test_prediction_trajectory.py
  tests/plotting/test_token_formatter.py
  tests/plotting/test_trajectory_plotting.py
  tests/test_plotting.py
  tuned_lens/plotting/__init__.py
  tuned_lens/plotting/plot_lens.py
  tuned_lens/plotting/prediction_trajectory.py
  tuned_lens/plotting/token_formatter.py
  tuned_lens/plotting/trajectory_plotting.py
Due: tests, tuned_lens

fixed failing tests
  tests/test_lenses.py
  tuned_lens/nn/lenses.py
Due: tests, tuned_lens

No heuristics in model surgery (#69)
  tests/test_decoder.py
  tests/test_lenses.py
  tests/test_model_surgery.py
  tuned_lens/model_surgery.py
  tuned_lens/nn/decoder.py
  tuned_lens/nn/lenses.py
Due: tests, tuned_lens

fixed hashing
  tests/test_utils.py
  tuned_lens/nn/unembed.py
  tuned_lens/utils.py
Due: tests, tuned_lens

init_from_model -> from_model and from_model_and_pretrained -> from_pretrained
  docs/source/tutorials/loading_pretrained_lenses.rst
  notebooks/interactive.ipynb
  tests/test_lenses.py
  tests/test_plotting.py
  tuned_lens/nn/lenses.py
  tuned_lens/scripts/eval_loop.py
  tuned_lens/scripts/lens.py
Due: tests, tuned_lens

adressed one of reviews comments
  tuned_lens/load_artifacts.py
Due: tuned_lens

extracted optimizer creation into its own ingredient
  tuned_lens/scripts/ingredients.py
  tuned_lens/scripts/train_loop.py
Due: tuned_lens

fixed errors in eval loop
  tuned_lens/scripts/eval_loop.py
Due: tuned_lens
