Repository AlignmentResearch/tuned-lens: changes, and which Codecov flags are due for each by the changed paths.
All: tests, tuned_lens

visualization of kl between models implemented still need to add labels
  notebooks/compare_models.ipynb
  tuned_lens/plotting/__init__.py
  tuned_lens/plotting/plot_lens.py
Due: tuned_lens

basic model comparison working
  notebooks/compare_models.ipynb
  tuned_lens/plotting/plot_lens.py
Due: tuned_lens

Bumped version of pytorch in readme
  README.md
Due: none

Remove torchrun, add --num-gpus arg
  tuned_lens/__main__.py
  tuned_lens/scripts/lens.py
Due: tuned_lens

Make port an argument of _run_worker
  tuned_lens/__main__.py
Due: tuned_lens

Refactored everything arround the new PredictionTrajectory class
  tuned_lens/plotting/__init__.py
  tuned_lens/plotting/plot_lens.py
Due: tuned_lens

created prediction trajectories notebook
  notebooks/compare_models.ipynb
  notebooks/prediction_trajectories.ipynb
  tuned_lens/plotting/plot_lens.py
Due: tuned_lens

added labels to the comparisons
  notebooks/prediction_trajectories.ipynb
  tuned_lens/plotting/__init__.py
  tuned_lens/plotting/plot_lens.py
Due: tuned_lens

updated interactive notebook to use new plotting interface
  notebooks/interactive.ipynb
  tuned_lens/plotting/__init__.py
  tuned_lens/plotting/plot_lens.py
Due: tuned_lens

stream labels renamed to trajectory labels
  notebooks/interactive.ipynb
  tuned_lens/plotting/__init__.py
  tuned_lens/plotting/plot_lens.py
Due: tuned_lens

renamed plot_lens to prediction trajectory
  tuned_lens/plotting/prediction_trajectory.py
Due: tuned_lens

broke prediction trajectory into a few files
  notebooks/interactive.ipynb
  notebooks/prediction_trajectories.ipynb
  tuned_lens/plotting/__init__.py
  tuned_lens/plotting/prediction_trajectory.py
  tuned_lens/plotting/token_formatter.py
  tuned_lens/plotting/trajectory_plotting.py
Due: tuned_lens

added tests for prediction trajectories
  pyproject.toml
  tests/plotting/test_prediction_trajectory.py
  tests/test_plotting.py
  tuned_lens/plotting/prediction_trajectory.py
Due: tests, tuned_lens

added more tests
  tests/plotting/test_token_formatter.py
  tests/plotting/test_trajectory_plotting.py
Due: tests

added notebook tests to premerge
  .github/workflows/pre-merge.yml
  docs/source/index.rst
  docs/source/tutorials/prediction_trajectories.ipynb
  pyproject.toml
Due: none

removed default value for stats
  tuned_lens/plotting/trajectory_plotting.py
Due: tuned_lens

added notebook kernel
  .github/workflows/pre-merge.yml
Due: none

fixed kernel install step
  .github/workflows/pre-merge.yml
Due: none

fixed docs
  .github/workflows/pre-merge.yml
  docs/source/index.rst
Due: none

fixed docstrings
  tuned_lens/plotting/prediction_trajectory.py
Due: tuned_lens

added pandoc to dependencies
  .github/workflows/pre-merge.yml
  pyproject.toml
Due: none

added pandoc
  .github/workflows/pre-merge.yml
  pyproject.toml
Due: none

excluding ipython checkpoints
  docs/source/conf.py
Due: none

added notebook dependencies
  .github/workflows/pre-merge.yml
Due: none

switched to pythia-v0 in docs
  docs/source/tutorials/loading_pretrained_lenses.rst
Due: none

switched to installing the kernel at the user level
  .github/workflows/pre-merge.yml
Due: none

Refactor CLI args into appropriate files
  tuned_lens/__main__.py
  tuned_lens/scripts/downstream.py
  tuned_lens/scripts/eval_loop.py
  tuned_lens/scripts/train_loop.py
Due: tuned_lens

Fix Path import
  tuned_lens/scripts/train_loop.py
Due: tuned_lens

running pytest as a module
  .github/workflows/pre-merge.yml
Due: none

Renamed to and started refactoring lenses to use it
  tuned_lens/nn/__init__.py
  tuned_lens/nn/decoder.py
  tuned_lens/nn/lenses.py
Due: tuned_lens

decoder.py -> unembed.py
  tuned_lens/nn/__init__.py
  tuned_lens/nn/lenses.py
  tuned_lens/nn/unembed.py
Due: tuned_lens

started on adding backwards compatability
  tests/test_lenses.py
  tests/test_load_artifact.py
  tuned_lens/load_artifacts.py
  tuned_lens/nn/lenses.py
Due: tests, tuned_lens

fixed test install step
  .github/workflows/pre-merge.yml
Due: none

simplified loading
  tuned_lens/nn/lenses.py
Due: tuned_lens

Add type hints to CLI args
  tuned_lens/__main__.py
  tuned_lens/scripts/downstream.py
  tuned_lens/scripts/eval_loop.py
  tuned_lens/scripts/train_loop.py
Due: tuned_lens

Fix line lengths
  tuned_lens/__main__.py
  tuned_lens/scripts/eval_loop.py
  tuned_lens/scripts/train_loop.py
Due: tuned_lens

Remove unused var and add class docstring
  tuned_lens/__main__.py
Due: tuned_lens

Fix some flake8 issues
  tuned_lens/__main__.py
  tuned_lens/scripts/downstream.py
  tuned_lens/scripts/eval_loop.py
  tuned_lens/scripts/train_loop.py
Due: tuned_lens

Path conditions:
  tests: any of: tests/
  tuned_lens: any of: tuned_lens/
